@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
nav .navbar-links ul {
  display: flex;
  list-style: none;
}
nav .navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  color: hsl(233deg, 8%, 62%);
  display: block;
}
nav .btn {
  text-decoration: none;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  padding: 0.5rem 2rem;
  border-radius: 15px;
  color: white;
}
nav .menu {
  flex-direction: column;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
}
nav .menu .bars {
  padding: 2px 18px;
  background-color: hsl(233deg, 8%, 62%);
  margin: 2px;
  transition: 0.5s ease;
}

header {
  display: flex;
  background-image: url(../images/bg-intro-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 120% 100%;
}
header .left {
  margin: 2rem 0 0 10rem;
}
header .left h1 {
  font-weight: 300;
  width: 40%;
  margin: 5rem 0 0 0;
}
header .left p {
  font-size: 15px;
  line-height: 20px;
  width: 50%;
  padding: 1rem 0 2rem;
}
header .left #btn-left {
  text-decoration: none;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  padding: 0.5rem 2rem;
  border-radius: 15px;
  color: white;
}
header .right img {
  width: 100%;
  transform: translate(140px, -10px);
}

section {
  background-color: hsl(220deg, 16%, 96%);
  width: 100%;
}
section .content1 {
  margin: 0 0 0 10rem;
  padding: 3rem 0;
}
section .container {
  display: flex;
}
section .container .box h2 {
  padding: 1rem 0;
}
section .container .box img {
  padding: 1rem 0;
}
section .container .box p {
  width: 70%;
}

article h1 {
  font-weight: 400;
  margin: 0 0 0 10rem;
  padding: 3rem 0;
}
article .article {
  margin: 0 0 0 10rem;
  display: flex;
}
article .article .article-box {
  padding: 1rem 2rem 0 0;
}
article .article .article-box h1 {
  font-size: 12px;
  margin: 0;
  padding: 1rem 0;
}
article .article .article-box span {
  font-size: 18px;
  font-weight: 700;
}
article .article .article-box p {
  line-height: 25px;
  padding-top: 1rem;
}
article .article .article-box img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  nav .menu {
    display: flex;
  }
  nav .menu.active .bars:nth-child(2) {
    opacity: 0;
  }
  nav .menu.active .bars:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  nav .menu.active .bars:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  nav .navbar-links {
    width: 100%;
    background-color: white;
    padding-top: 2rem;
    display: none;
  }
  nav .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  nav .navbar-links li a {
    text-align: center;
    padding: 0.5rem;
  }
  nav .navbar-links.active {
    display: flex;
  }
  nav .btn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */